.coluna1 {
    height: 95vh;
    width: 33%;
    min-width: 250px;
    left: 20px;

    background-image: url(../assets/images/imagem-login.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 1%;

    position: relative;
}

.imagem-login{
    height: 100%;
    border-radius: 10px;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    
    width: 13vw;
    max-width: 180px;
    min-width: 100px;
    height: auto;
}

.coluna2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    width: 66%;
}

.seta-voltar {
    margin-bottom: 3%;

    a {
        img {
            width: 5vw;
            height: 6vh;
            transition: transform 0.2s ease-in-out;
        }

        .imagem-seta:hover {
            transform: scale(1.2);
        }
    }
}

.container {
    height: 60%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container-titulos {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    h1 {
        text-align: center;
        font-size: clamp(1.5rem, 5vw, 3rem);
        font-weight: 900;
    }

    p {
        font-size: clamp(1rem, 2vw, 1.5rem);
        text-align: center;
        font-weight: 300;
    }

}

.formulario {
    height: 70%;
    width: 70%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;

    .recuperacao-senha {
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 1% 0 3% 2%;

        width: 100%;

        a {
            font-size: 16px;
            color: var(--azul-escuro);
            text-decoration: none;
            position: relative;
            transition: transform 0.2s ease-in-out;
        }

        a:hover {
            transform: scale(1.01);
        }

        a::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 100%;
            height: 1px;
            background-color: var(--azul-escuro);
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.3s ease-in-out;
        }

        a:hover::after {
            transform: scaleX(1);
        }
    }

    #botao-entrada {
        background-color: var(--azul-claro);
        color: var(--cor-secundaria);
        border-radius: 6px;
        font-size: 1.1rem;
        font-weight: 500;
        margin: 3%;

        border: none;
        outline: none;
        cursor: pointer;

        height: 17.57%;
        width: 100%;
        transition: transform 0.2s ease-in-out;
    }

    #botao-entrada:hover, #botao-entrada:focus {
        transform: scale(1.05);
    }
}

.container-botao-google {

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: 500;

    border: none;
    outline: none;
    cursor: pointer;

    height: 17.57%;
    width: 100%;
}


.login-google {
    background-color: var(--azul-escuro);
    color: var(--cor-secundaria);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;

    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: 500;

    border: none;
    outline: none;
    cursor: pointer;

    height: 100%;
    width: 100%;
    transition: transform 0.2s ease-in-out;
}

.login-google:hover, .login-google:focus {
    transform: scale(1.05);
}

footer {
    display: flex;

    a {
        display: inline-block;

        font-size: 16px;
        font-weight: 700;

        color: var(--azul-escuro);

        text-decoration: none;
        position: relative;
        transition: transform 0.2s ease-in-out;
    }

    a:hover {
        transform: scale(1.01);
    }

    a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background-color: var(--azul-escuro);
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s ease-in-out;
    }

    a:hover::after {
        transform: scaleX(1);
    }
}